.app {
    display: flex;
    justify-content: space-between;
    margin: 10%;
    padding: 2px;

}

form{
    font-size: 2.1rem;
}

form h3 {
    color: green;
    text-align: center;
 }
body{
    height: 100%;
    background-color: #f7f9fb;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); 
    
}

button {
    padding: 15px;
    font-size: 2.1rem;
    border-radius: 20px;
    background-color: green;
    
}

#yourName {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    font-size: 1.5rem;
    text-align: center;
}

#date {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}

#image {
    height: 700px;
    width: 700px;
    position: relative;
    top: 120px;
}